body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color:black;
}

.container {
    text-align: center;
    background-color:rgb(135, 27, 27);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input {
    padding: 10px;
    width: 200px;
    margin-right: 10px;
}

button {
    padding: 10px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

button:hover {
    background-color: #0056b3;
}

#recipes {
    margin-top: 20px;
}

.recipe-card {
    background-color: orange;
    color: aliceblue;
    padding: 15px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    display: inline-block;
    width: 200px;
    transition: cubic-bezier(0.215, 0.610, 0.355, 1);
}

.recipe-card img {
    width: 100%;
    border-radius: 8px;
}

.recipe-card h3 {
    font-size: 1.2em;
    margin: 10px 0;
}
